/* ------------------ */
/* COMPONENTES BOTON CONTACTAR */
/* ------------------ */
.componentes-boton-contactar {
    background-color: #4b38e3ff;
    padding: 1em 4em;
    font-size: 1.8rem;
    border: 1px solid #4b38e3ff;
    border-radius: calc(infinity * 1px);
    color: white;
    font-weight: bold;
    text-decoration: none;
}

/* ------------------ */
/* COMPONENTES MARCO */
/* ------------------ */
.componentes-marco {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: 1fr 1fr 2fr;
}

.componentes-marco > :nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1 / 3;

    background-color: #4b38e3;
    aspect-ratio: 1;
    border-radius: 0 0 60% 0;
    position: relative;
    z-index: 1;
}

.componentes-marco > h2 {
    grid-column: 2 / -1;
    grid-row: 2 / -1;

    background-color: white;
    border-radius: 0px 0px 1.5em 0px;
    line-height: normal;
    padding: 0.25em 2em 0.25em 2em;

    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    font-family: var(--font-source-serif-4);
}

.componentes-marco > h2 > span:nth-of-type(1) {
    color: #d8813a;
    font-weight: normal;
}

.componentes-marco > h2 > span:nth-of-type(2) {
    color: #4b38e3;
    font-weight: bold;
}
